:root {
  --vp-font-family-base: Valkyrie, serif;
  --vp-c-brand-1: rgb(27, 132, 197);
  --vp-c-brand-2: rgb(95, 152, 196);
  --vp-c-brand-3: rgb(112, 146, 173);
  --vp-nav-height: 48px;
  --vp-c-gutter:rgb(238, 238, 238);
  --vp-nav-bg-color: transparent;
  --vp-code-block-bg: #f6f6f7AA;
  --vp-code-lang-color: transparent;
  --vp-code-line-height: 1.4;
}

@media (min-width: 530px) {
  body {
    line-height: 1.45;
    font-size: 20px;
  }
}

.dark .VPContent {
  color:rgb(237, 241, 245);
}

mjx-container {
  font-family: math;
  overflow-y: hidden;
  text-align: left !important;
}

.VPNavBarTitle {
  padding-top: 4px;

  & > a {
    height: calc(var(--vp-nav-height) - 4px) !important;
  }
}

.VPNavBarExtra,
.VPNavBarHamburger,
.VPLocalNav,
.VPSkipLink {
  display: none !important;
}

@media (min-width: 960px) {
  :root {
    --vp-nav-height: 64px;
  }

  .VPContent {
    padding-top: 0 !important;
  }

  div.divider > div.divider-line {
    display: none !important;
  }

  .VPDoc:not(.has-sidebar) {
    padding-top: 96px !important;
  }
}

#VPContent main.main {
  min-height: calc(100vh - var(--vp-nav-height) - 48px - 64px - 32px - 90px);
}

#VPContent > div > div > div.content {
  padding-bottom: 32px;

  @media (min-width: 960px) {
    padding-top: 16px;
    padding-left: 48px;
  }
}

* {
  scrollbar-width: thin;
}

@font-face { font-family: Valkyrie; font-display: swap; src: url('./fonts/valkyrie_b_regular.woff2') format('woff2'); }
@font-face { font-family: Valkyrie; font-display: swap; src: url('./fonts/valkyrie_b_italic.woff2') format('woff2'); font-style: italic; }
@font-face { font-family: Valkyrie; font-display: swap; src: url('./fonts/valkyrie_b_bold.woff2') format('woff2'); font-weight: bold; }
@font-face { font-family: Valkyrie; font-display: swap; src: url('./fonts/valkyrie_b_bold_italic.woff2') format('woff2'); font-style: italic; font-weight: bold; }

/* @font-face { font-family: HermesMaia; font-display: swap; src: url('/hermes_maia_4_regular.woff2') format('woff2'); font-weight: 400; }
@font-face { font-family: HermesMaia; font-display: swap; src: url('/hermes_maia_4_italic.woff2') format('woff2'); font-style: italic; font-weight: 400; }
@font-face { font-family: HermesMaia; font-display: swap; src: url('/hermes_maia_6_regular.woff2') format('woff2'); font-weight: 600; }
@font-face { font-family: HermesMaia; font-display: swap; src: url('/hermes_maia_8_italic.woff2') format('woff2'); font-style: italic; font-weight: 800; }

@font-face { font-family: FiraMono; font-display: swap; src: url('/FiraMono-Regular.woff2') format('woff2'); size-adjust: 90%; }
@font-face { font-family: FiraMono; font-display: swap; src: url('/FiraMono-Bold.woff2') format('woff2'); font-weight: bold; size-adjust: 90%; } */

.vp-doc div[class*='language-'] {
  margin-left: -24px;
  &:not(:hover) {
    background-color: #f6f6f777;
  }
  & > button.copy {
    display: none;
  }
}

.VPNav {
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.2);
}

